
/* HEADER */
header {
    background-color: #2c3e50;
    color: white;
}
header .nav-link {
    color: white;
}

/* MAIN */

/* hero */
#hero {
    background-color: #1abc9c;
    color: white;
}

#hero img {
    max-width: 230px;
    margin-left: auto;
    margin-right: auto;
}
.spacer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;

}
.spacer::before {
    content: '';
    width: 130px;
    height: 3px;
    background-color: currentColor;
    border-color: currentColor;
    display: block;
    margin-right: 20px;
}
.spacer::after {
    content: '';
    width: 130px;
    height: 3px;
    background-color: currentColor;
    border-color: currentColor;
    display: block;
    margin-left: 20px;


}

/* portfolio */


/* about */
#about {
    background-color: #1abc9c;
    color: white;
}
#about .ms-button {
    display: block;
    background-color: #1abc9c;
    color: white;
    border: 1px solid white;
    border-radius: 6px;
}

/* contact me */
#contact-me .ms-button {
    background-color: #1abc9c;
    color: white;
    border: 1px solid #1abc9c;
    border-radius: 5px;
}

/* FOOTER */

footer {
    background-color: #3a546d;
    color: white;
}
.copyright {
    background-color: #2c3e50;
}